:root {
    --left-color--light: whitesmoke;
    --right-color--light: white;

    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    overflow: hidden;
}

.left, .right {
    position: absolute;
    height: 100vh;
    box-sizing: border-box;
    transition: all 500ms;
    word-break: break-word;
}

.left {
    background-color: var(--left-color--light);
    left: 0;
    width: 50vw;
}

.left--hide {
    left: -50vw;
    width: 50vw;
}

.left--expand {
    left: 0;
    width: 100vw;
}

.right {
    background-color: var(--right-color--light);
    right: 0;
    width: 50vw;
}

.right--hide {
    right: -50vw;
    width: 50vw;
}

.right--expand {
    right: 0;
    width: 100vw;
}

#mdSource, #mdOutput {
    width: 100%;
    height: 100%;
    box-sizing: inherit;
    background-color: inherit;
    padding: 1rem;
    font-size: medium;
    font-family: var(--system-font);
    overflow-x: hidden;
    overflow-y: auto;
}

#mdSource {
    border: none;
    outline: none;
    resize: none;
}
