@media print {
    .left {
        display: none;
    }

    .right {
        position: initial;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .markdown-body pre code {
        white-space: pre-wrap;
    }
}
