/* Style for highlight.js */
.markdown .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    color: #333;
    background: #f8f8f8
}

.markdown .hljs-comment,
.markdown .hljs-quote {
    color: #998;
    font-style: italic
}

.markdown .hljs-keyword,
.markdown .hljs-selector-tag,
.markdown .hljs-subst {
    color: #333;
    font-weight: 700
}

.markdown .hljs-literal,
.markdown .hljs-number,
.markdown .hljs-tag .hljs-attr,
.markdown .hljs-template-variable,
.markdown .hljs-variable {
    color: teal
}

.markdown .hljs-doctag,
.markdown .hljs-string {
    color: #d14
}

.markdown .hljs-section,
.markdown .hljs-selector-id,
.markdown .hljs-title {
    color: #900;
    font-weight: 700
}

.markdown .hljs-subst {
    font-weight: 400
}

.markdown .hljs-class .hljs-title,
.markdown .hljs-type {
    color: #458;
    font-weight: 700
}

.markdown .hljs-attribute,
.markdown .hljs-name,
.markdown .hljs-tag {
    color: navy;
    font-weight: 400
}

.markdown .hljs-link,
.markdown .hljs-regexp {
    color: #009926
}

.markdown .hljs-bullet,
.markdown .hljs-symbol {
    color: #990073
}

.markdown .hljs-built_in,
.markdown .hljs-builtin-name {
    color: #0086b3
}

.markdown .hljs-meta {
    color: #999;
    font-weight: 700
}

.markdown .hljs-deletion {
    background: #fdd
}

.markdown .hljs-addition {
    background: #dfd
}

.markdown .hljs-emphasis {
    font-style: italic
}

.markdown .hljs-strong {
    font-weight: 700
}
